@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    color: white;
  }
  
  html{
    scroll-behavior: smooth;
  }

  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #060b26;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-title{
  margin-bottom: 20px;
}

.register-form{
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 60%;
  margin-bottom: 60px;
}

.form-btn{
  padding: 9px;
  background-color: #0e1958;
  cursor: pointer;
}

input{
  width: 100%;
  padding: 10px;
  background-color: #0f1952;
  border: none;
  border-radius: 7px;
}

.home-container{
  display: flex;
  width: 90%;
  height: 100vh;
  background-color: #0f1952;
  border-radius: 7px;
}

.chat-side{
  width: 20%;
  max-height: 100vh;
  border-radius: 7px;
  background-color:#24348a;
  display: flex;
  flex-direction: column;
  padding: 6px;
}

.chat-box{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.chat-header{
  width: 100%;
  height: 10%;
  border-bottom: 1px solid black;
  display: flex;
  align-items: center;
  gap: 12px;
}

.messages{
  height: 90%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
}

.msg{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.msg.you{
  align-items: flex-end;
} 

.msg.other{
  align-items: flex-start;
}

.msg-info{
  margin-bottom: 24px;
}

.msg-name{
  font-size: small;
  font-weight: 600;
  margin-bottom: 25px;
}

.msg-time {
  font-size: smalls;
}

.msg-bubble.other-bubble{
  background-color: #24348a;
  padding: 10px;
  border-radius: 8px;
}

.msg-bubble.you-bubble{
  background-color: #7a319c;
  padding: 10px;
  border-radius: 8px;
}

h3{
  margin-bottom: 12px;
}

.box-title{
  margin: 0;
}

.admin-role{
  margin-bottom: 20px;
  display: flex;
  gap: 20px;
}

.user-container{
  width: 65%;
}

.user-information{
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.chat-bar{
  margin-bottom: 24px;
}

.bar-chats{
  padding: 5px;
  border-radius: 6px;
  background-color: #24348a;
  border: 1px solid #3548b3;
}

.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  cursor: pointer;
}

.user:hover{
  background-color: #0f1952;
}

.user-options{
  background-color: #0f1952;
  padding: 15px;
  width: 10%;
  border-radius: 7px;
}

.options-user{
  display: flex;
  justify-content: space-between;
  list-style: none;
  left: -20px;
}

.group-info{
  display: flex;
  flex-direction: column;
}

.bar-options{
  display: flex;
  gap: 15px;
}

li{
  cursor: pointer;
  font-size: 28px;
}

.user-info{
  display: flex;
  align-items: center;
}

.img-container{
  height: 50px;
  width: 50px;
  border-collapse: separate;
  border-radius: 15px;
}

.user-img{
  max-height: 100px;
  max-width: 50px;
}

.user-icon{
  max-width: 100%;
  max-height: 100%;
}

.user-image{
  height: 200px;
  height: 200px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.update-pic{
  display: flex;
  gap: 20px;
}

.send-message{
  height: 10vh;
  display: flex;
  gap: 24px;
}

.message-input{
  width: 90%;
  background-color: #24348a;
}

.img-label{
  cursor: pointer;
  width: 50px;
  height: 100%;
}

.img-upload, .img-icon{
  width: 50px;
  height: 100%;
}

.img-upload>input{
  display: none;
}

.send-message-btn{
  background-color:#7a319c;
  border: none;
  border-radius: 7px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
}

.hidden {
  display: none;
}

/* .message-form{
  display: flex;
  gap: 10px;
} */

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 7px;
}

@media(max-width: 800px){
  .chat-side{
    width: 100%;
  }

  .chat-box{
    width: 100%;
  }
}