@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
    color: white;
  }
  
  html{
    scroll-behavior: smooth;
  }

  main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #060b26;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-title{
  margin-bottom: 20px;
}

.register-form{
  display: flex;
  flex-direction: column;
  gap: 26px;
  width: 60%;
  margin-bottom: 60px;
}

.form-btn{
  padding: 9px;
  background-color: #0e1958;
  cursor: pointer;
}

input{
  width: 100%;
  padding: 10px;
  background-color: #0f1952;
  border: none;
  border-radius: 7px;
}

.home-container{
  display: flex;
  width: 90%;
  height: 100vh;
}

.chat-side{
  width: 20%;
  max-height: 100vh;
}

.chat-box{
  width: 70%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.messages{
  height: 100vh;
}

h3{
  margin-bottom: 12px;
}

.user-container{
  width: 65%;
}

.chat-bar{
  margin-bottom: 24px;
}

.user{
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
}

.user-options{
  background-color: #0f1952;
  padding: 15px;
  width: 10%;
  border-radius: 7px;
}

.options-user{
  display: flex;
  justify-content: space-between;
  list-style: none;
  left: -20px;
}

li{
  cursor: pointer;
  font-size: 28px;
}

.user-info{
  display: flex;
  align-items: center;
}

.img-container{
  height: 50px;
  width: 50px;
  border-collapse: separate;
  border-radius: 15px;
}

.user-img{
  max-height: 100px;
  max-width: 50px;
}

.send-message{
  height: 10vh;
}

.img-label{
  cursor: pointer;
  width: 50px;
  height: 100%;
}

.img-upload, .img-icon{
  width: 50px;
  height: 100%;
}

.img-upload>input{
  display: none;
}

.send-message{
  background-color: #0f1952;
}

.hidden {
  display: none;
}

.message-form{
  display: flex;
}

body::-webkit-scrollbar {
  width: 6px;
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 7px;
}